@page "/"
@using MT.LightTask.Test.Web.Tasks
@inject ITaskCenter Tc
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="@AddTask">添加任务</button>
<button @onclick="@StateHasChanged">刷新</button>
<button @onclick="@RunSignal">Signal</button>
<table>
    <tr>
        <th>任务名称</th>
        <th>下次运行时间</th>
        <th>最后运行时间</th>
        <th>最后运行耗时</th>
        <th>调度状态</th>
        <th>任务状态</th>
        <th></th>
    </tr>
    @foreach (var item in Tasks)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.NextRuntime</td>
            <td>@item.LastRuntime</td>
            <td>@item.LastRunElapsedTime</td>
            <td>@item.ScheduleStatus</td>
            <td>@item.TaskStatus</td>
            <td>
                <button @onclick="@(_ => DeleteTask(item.Name!))">删除</button>
                <button @onclick="@(_ => ToggleStatus(item.Name!))">
                    @(item.ScheduleStatus == TaskScheduleStatus.Running ? "禁用" : "启用")
                </button>
            </td>
        </tr>
    }

</table>
<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 5px 10px;
    }
</style>
@code {
    private void AddTask()
    {
        Tc.AddTask("匿名委托", (s, t) =>
        {
            return Task.CompletedTask;
        },
        b => b.WithInterval(TimeSpan.FromSeconds(5)).WithRetry(10).WithTimeout(TimeSpan.FromSeconds(2)).Storage());

        Tc.AddTask("静态方法", JsonTaskStorageExtension.Handler,
        b => b.WithCron("*/5 * * * * ?").WithRetry(10).WithTimeout(TimeSpan.FromSeconds(2)).Storage());
    }

    private void DeleteTask(string name)
    {
        Tc.Remove(name);
    }
    private void ToggleStatus(string name)
    {
        var schedule = Tc.GetScheduler(name);
        if (schedule is null) return;
        if (schedule.ScheduleStatus == TaskScheduleStatus.Running)
        {
            schedule.Stop();
        }
        else
        {
            schedule.Start();
        }
    }
    private void RunSignal()
    {
        Tc.GetScheduler("Signal")?.RunImmediately();
    }

    private IEnumerable<TaskInfo> Tasks => Tc.GetTaskInfos();
}